
<div class="card">
    <div class="card-body">
      <h5>Delete User</h5>
      <p class="lead">
        Untuk Menghapus satu data User Gunakan Url Berikut :
     </p>
     <h5>METHOD : <code>DELETE</code></h5>
     <p>Url Yang Dikirimkan</p>
     <pre>
       <code class="language-html"> 
           https://apibosjasa.herokuapp.com/api/profile/:id
       </code>
     </pre>
      <div class="input-group mb-3">
          <span class="input-group-text btn btn-primary" id="basic-addon1">DELETE</span>
          <input type="text" class="form-control text-small" placeholder="/api/profile/:id" aria-label="Username" aria-describedby="basic-addon1" disabled readonly>
      </div>
    </div>
  </div>