<div class="card">
    <div class="card-body">
      <h5>Data json yang di kirim di dalam body sbb:</h5>
      <pre>
        <code class="language-json">
            {
                "profile" : {
                    "username" : String,
                    "firstName" : String,
                    "lastName" : String,
                    "imgName" :  String,
                    "status" : Boolean
                },
                "contact" : {
                    "noTlp" : String,
                    "email" : String,
                    "alamat" : String
                }
            }
        </code>
      </pre>
    </div>
  </div>