
<div class="card">
    <div class="card-body">
      <h5>Update User</h5>
      <p class="lead">
        Untuk Mengupdate satu data User Gunakan Url Berikut :
     </p>
      <div class="input-group mb-3">
          <span class="input-group-text btn btn-primary" id="basic-addon1">PATCH</span>
          <input type="text" class="form-control text-small" placeholder="/api/profile/:id" aria-label="Username" aria-describedby="basic-addon1" disabled readonly>
      </div>
      <h5>Parameter</h5>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Field</th>
              <th scope="col">Type</th>
              <th scope="col">Descriptions</th>
              <th scope="col">Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>username</td>
              <td>String</td>
              <td>Username Off User</td>
              <td>Guest Random</td>
            </tr>
            <tr>
              <th>2</th>
              <td>firstName</td>
              <td>String</td>
              <td>firstName Off User</td>
              <td>null</td>
            </tr>
            <tr>
              <th>3</th>
              <td>lastName</td>
              <td>String</td>
              <td>lastName Off User</td>
              <td>null</td>
            </tr>
            <tr>
              <th>4</th>
              <td>imgName</td>
              <td>String</td>
              <td>imgName Off User</td>
              <td>null</td>
            </tr>
            <tr>
              <th>5</th>
              <td>status</td>
              <td>Boolean</td>
              <td>Status User</td>
              <td><code>true</code></td>
            </tr>
            <tr>
              <th>6</th>
              <td>noTlp</td>
              <td>String</td>
              <td>No Telpn Off User</td>
              <td>No User pada saat register</td>
            </tr>
            <tr>
              <th>7</th>
              <td>email</td>
              <td>String</td>
              <td>email Off User</td>
              <td>null</td>
            </tr>
            <tr>
              <th>8</th>
              <td>alamat</td>
              <td>String</td>
              <td>alamat Off User</td>
              <td>null</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>